<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      Sandbox Rails Site for:
        * Improving Dev Skills
        * Testing new ideas
        * Fun...
    </p>
  </body>
</html>